# Rede compartilhada entre front e back-ends
SHARED_SERVICES_NETWORK=shared-services

# Alvos de proxy usados pelo servidor SSR do front
API_TARGET=https://api.toxicbet.com.br
AUTH_TARGET=https://auth.toxicbet.com.br
