# Rede compartilhada entre front e back-ends
SHARED_SERVICES_NETWORK=shared-services

# Alvos de proxy usados pelo servidor SSR do front
API_TARGET=http://toxic-bet-api:20000
AUTH_TARGET=http://ms-auth-server:2300
